/* The Good Font
----------------*/
@font-face{
	font-family: MuseumBibleRegular;
	src: url('/styles/fonts/museum/MuseumBible.otf') }

body{
	margin: 0;
	padding: 0;
	font-family: MuseumBibleRegular;
	font-size: 20px; }

h1{
	font-size: 2.5em;
}

.grid-test{
	display: grid;
	height: 100vh;
	grid-template-rows: 15% 1fr 15%; }

.center-block{
	display: grid;
	height: 100%;
	width: 50%;
	margin: auto;
	text-align: center;
	grid-template-rows: 30% 1fr 1fr 1fr 30%; }

.page-link{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
	font-size: 2rem;
	;}

	
.bordered{
	border: 1px solid black; }

.header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	width: 100%; }

.title{
	padding-top: 10px;
	font-size: 3em;
	letter-spacing: 1px; }

.centered{
	text-align: center; }
	
.content-test{
	grid-template-rows: 1fr; }

/* Colors
--------*/
.indigo{
	color: indigo; }
	
.indigo-bg{
	background-color: indigo; }
	
.indigo-light-bg{
	background-color: #670b7a; }
		
.peach-bg{
	background-color: #ffe5b4; }

.peach{
	color: #ffe5b4;
	text-decoration: none; }

/* Media Queries baby!
--------------------*/

